/* karla-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/karla-v31-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* karla-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Karla";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/karla-v31-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* karla-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Karla";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/karla-v31-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* karla-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/karla-v31-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --primary-ff: "Karla", sans-serif;
  --color-background: hsl(204, 43%, 93%);
  --color-text: hsl(218, 22%, 67%);
  --color-neutral: hsl(255, 100%, 100%);
  --color-accent: hsl(71, 73%, 54%);
  --color-primary: hsl(179, 62%, 43%);
  --color-primary--lighter: hsl(179, 47%, 52%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-ff);
}

.main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background);
}

.wrapper {
  --width: 45rem;
  max-width: var(--width);
  margin: 0 auto;
  padding: 0 1rem;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  overflow: hidden;
}

.card > * {
  padding: 2rem;
}

.card__join {
  grid-column: 1/-1;
  background-color: var(--color-neutral);
}

.card__title {
  color: var(--color-primary);
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.card__special {
  color: var(--color-accent);
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.card__description {
  color: var(--color-text);
  line-height: 1.5;
}

.card__subscription {
  background-color: var(--color-primary);
}

.card__subtitle {
  color: var(--color-neutral);
  font-size: 1.2rem;
  margin-bottom: 1.25rem;
}

.card__price-container {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 1rem;
}

.card__price {
  color: var(--color-neutral);
  font-size: 2.25rem;
}

.card__per-price {
  color: var(--color-background);
}

.card__additional {
  color: var(--color-neutral);
  margin-bottom: 1.5rem;
}

.btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-family: inherit;
}

.btn--sign {
  color: var(--color-neutral);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--color-accent);
  padding: 1rem 1.5rem;
  width: 100%;
  border-radius: 11px;
  font-weight: 500;
  font-size: 1rem;
}

.card__why {
  background-color: var(--color-primary--lighter);
}

.card__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  color: var(--color-neutral);
}

@media (max-width: 37rem) {
  .card {
    grid-template-columns: 1fr;
  }
  .wrapper {
    --width: 25rem;
  }
}
